.ListRegister{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
    gap: 1rem;
    border-radius: 8px;
}

.ListRegister>input {
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 8px;
    border: solid 0.5px #d6d6d6 ;
    outline: none;
}

#idbutton {
    width: 30%;
    height: 3.5rem;
    align-self: center;
    cursor: pointer;
    border: solid 2px #0b3b5b;
    background-color: inherit;
    color: #0b3b5b;
    border-radius: 8px;
    transition: all 0.3s ease;
}

#idbutton:hover {
    background-color: #0b3b5b;
    color: #fff;
}