* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.defaultInputs>input {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border: solid 0.5px #d6d6d6 ;
  outline: none;
}

.defaultButton {
  width: 30%;
  height: 3.5rem;
  align-self: center;
  cursor: pointer;
  border: solid 2px #0b3b5b !important;
  background-color: inherit;
  color: #0b3b5b;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.defaultButton:hover {
  background-color: #0b3b5b;
  color: #fff;
}
