nav a {
  text-decoration: none;
  color: #ffffff9d;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

nav a:hover {
  color: #ffffff;
}