nav a {
  text-decoration: none;
  color: #ffffff9d;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

nav a:hover {
  color: #ffffff;
}

#register {
  padding: 0.3rem;
  border: solid 1px #ffffff9d;
  border-radius: 5px;
}

#register:hover {
  color: #ffffff;
}